
.khachhang{
    background: #f1f1f1;
    overflow: hidden;
    margin-bottom: 20px;
}
.diachi{
    width: 31%;
    display: block;

    margin-top: 20px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
}
h3{
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 15px;
    text-transform: uppercase;
    color: #242424;
}
.diachi>div{
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    min-height: 110px;
    line-height: 1.38;
}
p.name{
    font-weight: 500;
    color: #242424;
    text-transform: uppercase;
    margin-bottom: 10px;
}
p{
    font-size: 13px;
    margin-bottom: 0;
}
.thanhtoan{
    width: 31%;
    display: block;

    margin-top: 20px;
    float: left;
    margin-right: 1%;
    margin-bottom: 20px;
}
.thanhtoan>div{
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    min-height: 110px;
    line-height: 1.38; 
}
